.guidingDots {
	position: absolute;
	background-color: white;
	top: 50%;
	right: 90px;
	transform: translateY(-50%);
}

.mainText {
	font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
	font-size: 112px;
	font-weight: 950;
}