.prevButton, .nextButton {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: 54px;
	height: 38px;
	background-color: #5CA1F3;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.prevButton {
	left: 0;
	border-radius: 0 16px 16px 0;
}

.nextButton {
	right: 0;
	border-radius: 16px 0 0 16px;
}

.reviewImage, .selectedReviewImage {
	border-radius: 16px;
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	opacity: 1;
}

.reviewImage {
	width: inherit;
	height: inherit;
}

.selectedReviewImage {
	width: 494px;
	height: 630px;
}

.selectedReviewInfoWrapper {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 80px;
	top: 40%;
	transform: translate(-100%, -50%);
	color: #000;
	gap: 10px;
	font-family: Neue Haas Grotesk Display Pro;
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	opacity: 1;
}

.selectedReviewInfoWrapper.fadeIn {
	opacity: 1;
}

.selectedReviewInfoWrapper.fadeOut {
	opacity: 0;
}

.selectedReviewImage.slideOutLeft {
	opacity: 0;
	transform: translateX(-100%);
}

.selectedReviewImage.slideOutRight {
	opacity: 0;
	transform: translateX(100%);
}

.reviewImage.slideIn {
	transform: translateX(0);
}


.ratingWrapper {
	display: flex;
	padding-bottom: 10px;
}