@import url('https://fonts.googleapis.com/css?family=Space+Grotesk');
@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #181720;
  color: #fff;
  height: 100%;
}

*::-webkit-scrollbar {
  display: none;
}